.create-post {
    width: 80%;
    margin: 22px auto 0;
}

.create-post-container {
    border: 1px solid #c4c0c0;
    border-radius: 3px;
    padding: 15px 15px;
    background-color: white;
}

.create-post-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-post-top > input {
    width: 80%;
    background-color: #fafafa;
    padding: 3px 10px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    border-radius: 3px;
    font-size: 14px;
}

.create-post-top > input:focus {
    outline: none !important;
    border: 1px solid #c4c0c0;
}

.post-button {
    margin-top: 22px;
    border: none;
    background: darkslategrey;
    padding: 3px 16px;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.share-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 22px;
}

.share-image {
    width: 100%;
}