.chatmenu {
    flex: 0.8;
}

.chatmenu-container {
    padding: 20px;
    height: 100%;
    border-right: 1px solid #10162F;
}

.chatmenu-container > input {
    background-color: #fafafa;
    margin-bottom: 22px;
    padding: 3px 20px 3px 33px;
    height: 30px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.0975);
    font-size: 14px;
}

.chatmenu-container > input:focus {
    outline: none !important;
    border: 1px solid #10162F;
}

.conversation {
    margin-bottom: 2px;
}

.chat-user {
    display: flex;
    align-items: center;
    gap: 22px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.chat-user:hover {
    background-color: #dae7ea;
}

.conversation > .active {
    border-top: 1px solid #10162F;
    border-bottom: 1px solid #10162F;
    background-color: rgba(255, 255, 255, 0.95);
}