.online-friend-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.online-friend-list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}