.conversation {
    margin-bottom: 2px;
}

.chat-user {
    display: flex;
    align-items: center;
    gap: 22px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.chat-user:hover {
    background-color: #e8e3e3;
}