.profile-container {
    max-width: 900px;
    margin: 0 auto 22px;
}

/*-------------- top ---------------------------*/

.profile-top {
    display: flex;
    justify-content: space-evenly;
    padding: 28px;
}

.profile-top > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
}

.user-stats {
    display: flex;
    gap: 22px;
    margin: 22px 0;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 22px;
}

/*------------------- bottom -----------------------------*/

.profile-bottom {
    width: 90%;
    margin: 0 auto;
}

/*-----------------------------------------------------*/
.pointer-underline:hover {
    cursor: pointer;
    text-decoration: underline;
}